/* 
    TODO - Accesibility
    Add toggle button to turn off animations.
    Implement localStorage on it.
*/

:root {
    --black: 21, 22, 24;
    --white: 255, 255, 255;
    --primary-color: 112, 61, 253;
    --error: 233, 76, 61;
}


*::selection {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(var(--white));
    color: rgb(var(--black));
    fill: rgb(var(--black));
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: auto;
}

form {
    flex: 1 1 200px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px 4px rgba(var(--black), 0.15);
}

form fieldset {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgba(var(--black), .35);
}
form fieldset label {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    padding: .25rem;
    border-radius: 5px;
    justify-content: center;
}
form fieldset label span {
    flex: 0 0 auto;
}
form fieldset label input {
    flex: 0 0 auto;
}

form h2 {
    color: rgb(var(--primary-color));
}

form label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

form *[type="submit"] {
    margin: .5rem 0;
    padding: .5rem;
    background-color: inherit;
    color: inherit;
    border: 1px solid rgb(var(--primary-color));
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: rgb(var(--primary-color));
}

form *[type="submit"]:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white));
}
 
form *[type="submit"]:focus {
    outline: 1px solid rgb(var(--primary-color));
}

form label span {
    flex: 0 0 175px;
}

/*  
    https://developer.mozilla.org/en-US/docs/Learn/Forms/UI_pseudo-classes
    https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
    https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling
    https://developer.mozilla.org/en-US/docs/Learn/Forms/Property_compatibility_table_for_form_controls
*/
form label input[type='text'], 
form label input[type='email'], 
form label input[type='password'], 
form label input[type='search'] {
    appearance: none;
}

form label input, 
form label textarea {
    flex: 1 1 300px;
    padding: .5rem;
    border: 1px solid rgb(var(--primary-color));
    border-radius: 5px;
    outline: none;
}

form label input:not([type='radio']):focus, 
form label textarea:focus {
    outline: 1px solid rgb(var(--primary-color));
}

form label input[type='radio'] {
    accent-color: rgb(var(--primary-color));
}
form label:has(input[type='radio']:focus) {
    outline: 1px solid rgb(var(--primary-color));
}

form label input:invalid, 
form label textarea:invalid {
    border-color: rgb(var(--error));
    outline-color: rgb(var(--error)) !important;
}

form small {
    line-height: 1.35rem;
}
form label:has(input:valid) + small {
    display: none;
}

form label .input-section {
    flex: 1 1 300px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

form label button.toggle-password-visibility {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    fill: rgb(var(--black), .35);
}

form label button.toggle-password-visibility:focus, 
form label button.toggle-password-visibility:hover {
    fill: rgb(var(--primary-color));
}
